.CoinList {
  display: flex;
  flex-flow: column wrap;
  width: 100%
}

.headers{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #b1b1b1;
}

.headers p {
  margin: 0
}